/* index.css */
@import "tailwindcss";
:root {
            --cyan-glow: #06b6d4;
            --deep-void: #030303;
        }
        body {
            background-color: var(--deep-void);
            font-family: 'Inter', sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Space Grotesk', sans-serif;
        }
        .hero-title {
            @apply text-center font-semibold text-3xl
            opacity-0 max-md:mb-10 ;
        }

        @keyframes marquee {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-50%); }
        }
